<main>
	<div class="container">
			<div *ngIf="isAdmin" class="add-user">
				<h2>User management</h2>
				
				<input class="input-users" #username>
				<input class="input-users" #password>
				<button class="btn-users" (click)="CREATE_USER(username.value, password.value); username.value=''; password.value=''">Criar usuario</button>
			</div>
			<div *ngIf="isAdmin" class="show-user">

					<button *ngIf="!showingUsers" (click)="READ_USERS()">Ver usuarios</button>
					<button *ngIf="showingUsers" (click)="HIDE_USERS()">Ocultar usuarios</button>

					<ul>
						<li *ngFor="let user of arrayDeUsers">
							<div *ngIf="!isEditing">
								<h3>{{user.username}}: {{user.password}}</h3>
								<button class="btn-users" (click)="DELETE_USER(user)">deletar</button>
							</div>
							<div *ngIf="isEditing">
								<input class="input-users" #username [value]="user.username">
								<input class="input-users" #password [value]="user.password">
								<button class="btn-users" (click)="user.username=username.value; user.password=password.value; UPDATE_USER(user); isEditing=false">salvar</button>
								<button class="btn-users" (click)="isEditing = false">cancelar</button>
							</div>
						</li>
					</ul>
					<button class="btn-users" *ngIf="!isEditing && showingUsers" (click)="isEditing = true">editar usuarios</button>
			</div>
	</div>

	<div *ngIf="usuarioLogado && !isAdmin" class="all">
		<div class="main">
			
			<h1>João Vitor Viana Alves - 218411<br></h1><h1>Marjorie Nascimento</h1>
			<div class="inputs">
				<input class="lg-text-input" #campoNovoItem />
				<button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)">Criar Tarefa</button>
			</div>
			<ul>
				<li *ngFor="let tarefaDoLoop of arrayDeTarefas">
					<app-item [tarefa]="tarefaDoLoop" (delete_tarefa)="DELETE_tarefa(tarefaDoLoop)" (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"></app-item>
				</li>
			</ul>
		</div>
	</div>
	<div *ngIf="!usuarioLogado" class="main">
		<input #username placeholder="nome" class="lg-text-input" />
		<BR>
		<input #password placeholder="senha" class="lg-text-input" />
		<button class="btn-primary" (click)="login(username.value, password.value)" >Login</button>
	</div>
</main>