:root{
    --mainwhite: white;
    --mainblack: black;
    --mainhover: #CC99CC;
    --mainbtncolor: #660066;
}

    h1{
        text-align: center;
    }

    body {
    color: #4d4d4d;
    background-color: RED;
   }
   .main {
    justify-content: center;
    display: block;
    align-items: center;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 25%;
    left: 50%;
    max-width: 500px;
    width: 85%;
    margin: 8rem auto;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 2.5rem 5rem 0 rgba(0, 0, 0, .1);
   }
   @media screen and (min-width: 600px) {
    .main {
    width: 70%;
    }
   }
   label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
   }
   .lg-text-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
   }
   .btn-wrapper {
    margin-bottom: 2rem;
   }
   .btn-menu {
    flex-basis: 32%;
   }
   .active {
    color: green;
   }
   ul {
    padding-inline-start: 0;
   }
   ul li {
    list-style: none;
   }

   .show-user{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 2.5rem 5rem 0 rgba(0, 0, 0, .1);
    overflow: hidden;
   }

   .container{
    justify-content: center;
    display: flex;
    align-items: center;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 50%;
   }

   .add-user{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 2.5rem 5rem 0 rgba(0, 0, 0, .1);
    }
    .input-users{
        max-width: 250px;
        width: 100%;
        padding: 1rem;
        border: 2px solid #000;
        margin: 10px;
        box-sizing: border-box;
        font-size: 1rem;
    }
    
    .btn-users{
        background-color: var(--mainbtncolor);
        right: -20px;
        transition: 0.5s;
        color: var(--mainwhite);
        border: 2px solid var(--mainblack);
        padding: .35rem 1rem .25rem 1rem;
        font-size: 1rem;
        margin: 10px;
    }
   