<main>
	<div *ngIf="admLogado" class="container">
		
			<div *ngIf="admLogado" class="add-user">
				<h2>Create Users</h2>
				
				<input class="input-users" #nome>
				<input class="input-users" #>
				<button class="btn-users" (click)="CREATE_USER(nome.value, senha.value); nome.value=''; senha.value=''">Create Users</button>
			</div>
			<div *ngIf="admLogado" class="show-user">

					<button  class="btn-users" *ngIf="!Usuarios" (click)="READ_USERS()">Users</button>

					<ul>
						<li *ngFor="let user of arrayDeUsers">
							<div *ngIf="!Editando">
								<h3>{{user.nome}}</h3>
								<button class="btn-users" (click)="DELETE_USER(user)">Delete</button>
							</div>
							<div *ngIf="Editando">
								<input class="input-users" #nome [value]="user.nome">
								<input class="input-users" #senha [value]="user.senha">
								<button class="btn-users" (click)="user.nome=nome.value; user.senha=senha.value; UPDATE_USER(user); Editando=false">Save</button>
								<button class="btn-users" (click)="Editando = false">Cancel</button>
							</div>
						</li>
					</ul>
					<button class="btn-users" *ngIf="!Editando && Usuarios" (click)="Editando = true">Edit</button>
			</div>
	</div>

	<div *ngIf="usuarioLogado && !admLogado" class="all">
		<div class="main">
			<h1>TodoApp</h1>
			<div class="inputs">
				<input class="lg-text-input" #campoNovoItem />
				<button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)">Create Task</button>
			</div>
			<ul>
				<li *ngFor="let tarefaDoLoop of arrayDeTarefas">
					<app-item [tarefa]="tarefaDoLoop" (delete_tarefa)="DELETE_tarefa(tarefaDoLoop)" (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"></app-item>
				</li>
			</ul>
		</div>
	</div>
	<div *ngIf="!usuarioLogado" class="main">
		<input #nome placeholder="nome" class="lg-text-input" />
		<BR>
		<input #senha placeholder="senha" class="lg-text-input" />
		<button class="btn-primary" (click)="login(nome.value, senha.value)" >Login</button>
	</div>
</main>
